.main-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    height: 58px;
    flex-shrink: 0;
}

.main-header .header-menu {
    margin-left: 150px;
}

@media screen and (max-width: 1055px) {
    .main-header .header-menu {
        margin: auto;
    }
}

.header-menu a.is-active, .header-menu a:hover {
    color: var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
}

.main-header .header-menu a {
    padding: 20px 24px;
}

.menu-link-main {
    text-decoration: none;
    color: var(--theme-color);
    padding: 0 30px;
}

@media screen and (max-width: 1055px) {
    .menu-link-main {
        display: none;
    }
}

